@import "../../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Colour variables */
:root {
	--background: #010307;
	--background-light: #0a0e12;
	--primary: #1051b5;
	--secondary: #b57410;
	--font: #cad9e5;
	--borders: #7a7164;
}

* {
	font-family: "Montserrat", sans-serif;
}

body {
	background: var(--background);
	color: var(--font);
}
