main {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 80rem;
	margin: 2em auto;
}

#newPostContainer {
	padding: 0.5rem;
	background-color: var(--background-light);
	border: 1px solid var(--borders);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0.5em 0.5em 1em 0.5em;
	width: 100%;
}

.canvasContainer {
	flex: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 100%;
}

.postImages {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
}

@media (max-width: 768px) {
	.postImages {
		flex-direction: column;
	}
}

.stream_player {
	border: 1px solid #e53e3e;
	border-radius: 0.5rem;
	max-width: 100%;
}

.final_image_canvas {
	border: 1px solid var(--borders);
	border-radius: 0.5rem;
	display: none;
	max-width: 100%;
}

.side_panel {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	flex: 1;
}

#startButton {
	background-color: #15803d;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	color: var(--font);
	font-size: 1.125rem;
}
#startButton:hover {
	background-color: #16a34a;
}

#retakeButton {
	display: none;
	background-color: #b91c1c;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	color: var(--font);
	font-size: 1.125rem;
}
#retakeButton:hover {
	background-color: #dc2626;
}

#imgFileInput {
	display: none;
}

#imgFile {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border: none;
	background-color: var(--primary);
	border-radius: 0.5rem;
	cursor: pointer;
}
#imgFile:hover {
	background-color: #2c5282;
}

#fileNameDisplay {
	color: var(--font);
	letter-spacing: 0.05rem;
	line-height: 1.5rem;
}

.imgContainer {
	display: flex;
	gap: 1rem;
	align-items: center;
	flex-direction: column;
	display: none;
}

.allSelectableImages {
	display: flex;
	gap: 1rem;
	justify-content: center;
	flex-wrap: wrap;
}

.defaultImgs {
	width: 5rem;
	border: 2px solid var(--borders);
	background-color: var(--primary);
	cursor: pointer;
	border-radius: 0.25em;
	padding: 0.5rem;
}

.sliderContainer {
	display: none;
	flex-direction: column;
}

.postInfo {
	display: none;
	flex-direction: column;
	align-items: center;
	flex-direction: row;
	justify-content: end;
	margin-top: 1rem;
	border-radius: 0.25rem;
}

#postMsg {
	padding: 0.5em;
	border: 1px solid var(--borders);
	border-radius: 0.25rem 0 0 0.25rem;
}

#saveButton {
	background-color: #15803d;
	border: none;
	border-radius: 0 0.25rem 0.25rem 0;
	padding: 0.5rem 1rem;
	cursor: pointer;
	color: var(--font);
	font-size: 1.125rem;
}
#saveButton:hover {
	background-color: #16a34a;
}

#saveButton:disabled {
	background-color: #a0aec0;
	cursor: not-allowed;
}

#saveButton:disabled:hover {
	background-color: #a0aec0;
}

#oldPostContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	padding: 0.5em 1rem;
	background-color: var(--background-light);
	border: 1px solid var(--borders);
	border-radius: 0.5rem;
}

#oldPosts {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	overflow: auto;
	max-width: 100%;
}

#postContainer {
	display: none;
	position: relative;
	border: 2px solid var(--borders);
	border-radius: 0.5em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: var(--background-light);
	width: fit-content;
	transition: all 0.3s ease-in-out;
}

.postContainer:hover {
	background-color: var(--primary);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

img {
	width: 20em;
	height: auto;
	border-radius: 0.5em 0.5em 0 0;
}

.deleteIcon {
	cursor: pointer;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	color: rgb(255, 54, 54);
	background-color: var(--background-light);
	padding: 0.25rem;
	border-radius: 0.25rem;
}
